## **Загрузка**

In [38]:
import pandas as pd
import numpy as np
import datetime as dt
import json

# Машинное обучение
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [39]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/My Drive/CSV

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
/content/drive/My Drive/CSV

In [40]:
data = pd.read_csv('Science.csv')

In [41]:
data.info(null_counts =1) 
print('\nКоличество повторяющихся строк —', data.duplicated().sum())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Passengers  145 non-null    float64
 1   Year        157 non-null    int64
 2   Month       157 non-null    int64
dtypes: float64(1), int64(2)
memory usage: 3.8 KB

Количество повторяющихся строк — 0

<ipython-input-41-834d94034831>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  data.info(null_counts =1)

   Passengers  Year  Month
0     1235.75  2007      4
1     1487.53  2007      3
2     1563.96  2007      7
3     1575.27  2007      0
4     1762.00  2007      8

In [42]:
data.columns = data.columns.str.lower()

In [43]:
157 - 145

12

1. Предсказать пассажиропоток в последующие 12 месяцев.
2. Формат ответа JSON: `{"answer": ["x1", "x2",...,"x5"]}`

# **Предобработка**

In [44]:
data.sort_values(by=['year', 'month']).month.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [45]:
data_sorted = data.sort_values(by=['year', 'month'])

In [46]:
data_sorted.year.max()

2020

In [47]:
data_sorted.query('passengers != passengers').year.unique()

array([2019, 2020])

# **Расчёты**

In [48]:
train = data_sorted.query('passengers == passengers')
test = data_sorted.query('passengers != passengers')

In [49]:
X_train, X_test, y_train, y_test = train_test_split(train.drop(['passengers'], axis = 1)
                                                    ,train['passengers'], test_size=0.2, random_state=0)

In [50]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_st = scaler.transform(X_train)
X_test_st = scaler.transform(X_test)

In [51]:
model = Lasso()

In [52]:
model.fit(X_train_st, y_train)

Lasso()

In [53]:
prediction_test = model.predict(X_test_st)

In [17]:
len(prediction_test)

29

In [54]:
print('MAE: {:.2f}'.format(mean_absolute_error(y_test, prediction_test)))
print('MSE: {:.2f}'.format(mean_squared_error(y_test, prediction_test)))
print('R2: {:.2f}'.format(r2_score(y_test, prediction_test)))

MAE: 588.40
MSE: 518295.38
R2: 0.57

In [55]:
prediction= model.predict(scaler.transform(test.drop('passengers', axis=1)))

In [56]:
len(prediction)

12

# **Bыгрузка**

In [57]:
prediction_rnd = [round(x,2) for x in prediction[:12]]

In [58]:
list_1 = ["{}".format(x) for x in prediction_rnd]

In [59]:
list_2 = {"answer": list_1}

In [60]:
json.dumps(list_2)

'{"answer": ["4551.09", "4595.62", "4640.15", "4684.68", "4773.74", "4818.28", "4862.81", "4907.34", "4951.87", "4996.4", "5040.93", "4971.29"]}'

In [61]:
len(list_2['answer'])

12